#sayHi {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  height: 300px;
  background-color: rgb(255, 252, 243);
  overflow: hidden;
  overflow-y:hidden;
  overflow-x: hidden;


  .say-hi-section-container {
    background-image: url('./../../assets/img/menu-section/footer/Design\ ohne\ Titel\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    width: 100vw;
    height: 300px;

    .say-hi-headline {
      color: rgb(255, 252, 243);
      font-family: 'syne-extra-font';
      font-size: 100px;
      margin-right: 1800px;


    h1 {
      position: absolute;
      color: rgb(255, 252, 243);
      background-color: black;
      margin-top: 0px;
      font-family: 'syne-extra-font';
      font-size: 100px;
      animation: h1-opacity 7s;
      opacity: 1;

      &:hover {
        color: rgb(250, 153, 3);
        cursor: default;
      }
    }
  }
}
}
 @keyframes h1-opacity {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
 }

 @media screen and (max-width: 2000px){
  #sayHi {
    width: 100%;
    height: 300px;
    background-color: rgb(255, 252, 243);


    .say-hi-section-container {
      padding-bottom: 0;
      width: 100vw;
      height: 300px;

      .say-hi-headline {
        font-size: 80px;
        margin-right: 80vw;


      h1 {
        margin-top: 0px;
        font-size: 100px;
      }
    }
  }
  }
}

@media screen and (max-width: 1700px){
  #sayHi {
    width: 100%;
    height: 300px;
    background-color: rgb(255, 252, 243);


    .say-hi-section-container {
      padding-bottom: 0;
      width: 100vw;
      height: 300px;

      .say-hi-headline {
        font-size: 80px;
        margin-right: 80vw;


      h1 {
        margin-top: 0px;
        font-size: 80px;
      }
    }
  }
  }
}

@media screen and (max-width: 1300px){
  #sayHi {
    width: 100%;
    height: 300px;
    background-color: rgb(255, 252, 243);


    .say-hi-section-container {
      padding-bottom: 0;
      width: 100vw;
      height: 300px;

      .say-hi-headline {
        font-size: 80px;
        margin-right: 80vw;


      h1 {
        margin-top: 0px;
        font-size: 60px;
      }
    }
  }
  }
}

@media screen and (max-width: 1100px){
  #sayHi {
    width: 100%;
    height: 200px;
    background-color: rgb(255, 252, 243);


    .say-hi-section-container {
      padding-bottom: 0;
      width: 100vw;
      height: 200px;

      .say-hi-headline {
        font-size: 80px;
        margin-right: 90vw;


      h1 {
        margin-top: 0px;
        font-size: 40px;
      }
    }
  }
  }
}

@media screen and (max-width: 750px){
  #sayHi {
    width: 100%;
    height: 200px;
    background-color: rgb(255, 252, 243);


    .say-hi-section-container {
      padding-bottom: 0;
      width: 100vw;
      height: 200px;

      .say-hi-headline {
        font-size: 80px;
        margin-right: 90vw;


      h1 {
        margin-top: 0px;
        font-size: 30px;
      }
    }
  }
  }
}

@media screen and (max-width: 550px){
  #sayHi {
    width: 100%;
    height: 200px;
    background-color: rgb(255, 252, 243);


    .say-hi-section-container {
      padding-bottom: 0;
      width: 100vw;
      height: 150px;

      .say-hi-headline {
        font-size: 80px;
        margin-right: 90vw;


      h1 {
        margin-top: 0px;
        font-size: 20px;
      }
    }
  }
  }
}

