.menu-section-footer-container {
  background-color: black;
  padding-left: 2vw;
  width: 98vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;

  h2 {
    display: flex;
    font-family: 'overpass-font';
    color: white;
    font-size: 60px;
  }

  .app-icon-container {
    display: flex;
    flex-direction: row;
    padding-right: 5vw;
    gap: 30px;
    padding-bottom: 2vh;

    .language-button {

      img {
        height: 50px;
        width: auto;
      }
    }

    .single-app-icon-container {
      img {
        width: 90px;
      }

      &:hover {
        img {
          transform: translateY(-10px);
        }
      }
    }
  }
}

@media screen and (max-width: 2800px){
  .menu-section-footer-container {
    background-color: black;
    padding-left: 2vw;
    width: 98vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;

    h2 {
      display: flex;
      font-family: 'overpass-font';
      color: white;
      font-size: 30px;
    }

    .app-icon-container {
      display: flex;
      flex-direction: row;
      padding-right: 5vw;
      gap: 30px;
      padding-bottom: 2vh;

      .single-app-icon-container {
        img {
          width: 50px;
        }

        &:hover {
          img {
            transform: translateY(-10px);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1500px){
  .menu-section-footer-container {
    background-color: black;
    padding-left: 2vw;
    width: 98vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;

    h2 {
      display: flex;
      font-family: 'overpass-font';
      color: white;
      font-size: 30px;
    }

    .app-icon-container {
      display: flex;
      flex-direction: row;
      padding-right: 5vw;
      gap: 30px;
      padding-bottom: 2vh;

      .single-app-icon-container {
        img {
          width: 40px;
        }

        &:hover {
          img {
            transform: translateY(-10px);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px){
  .menu-section-footer-container {
    background-color: black;
    padding-left: 2vw;
    width: 98vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;

    h2 {
      display: flex;
      font-family: 'overpass-font';
      color: white;
      font-size: 30px;
    }

    .app-icon-container {
      display: flex;
      flex-direction: row;
      padding-right: 5vw;
      gap: 30px;
      padding-bottom: 1vh;

      .single-app-icon-container {
        img {
          width: 40px;
        }

        &:hover {
          img {
            transform: translateY(-10px);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px){
  .menu-section-footer-container {
    background-color: black;
    padding-left: 2vw;
    width: 98vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;

    h2 {
      display: flex;
      font-family: 'overpass-font';
      color: white;
      font-size: 20px;
    }

    .app-icon-container {
      display: flex;
      flex-direction: row;
      padding-right: 5vw;
      gap: 15px;
      padding-bottom: 1vh;

      .single-app-icon-container {
        img {
          width: 40px;
        }

        &:hover {
          img {
            transform: translateY(-10px);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px){
  .menu-section-footer-container {
    background-color: black;
    padding-left: 2vw;
    width: 98vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;

    h2 {
      display: flex;
      font-family: 'overpass-font';
      color: white;
      font-size: 16px;
    }

    .app-icon-container {
      display: flex;
      flex-direction: row;
      padding-right: 5vw;
      gap: 15px;
      padding-bottom: 1vh;

      .single-app-icon-container {
        img {
          width: 30px;
        }

        &:hover {
          img {
            transform: translateY(-10px);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px){
  .menu-section-footer-container {
    background-color: black;
    padding-left: 2vw;
    width: 98vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;

    h2 {
      display: flex;
      font-family: 'overpass-font';
      color: white;
      font-size: 12px;
    }

    .app-icon-container {
      display: flex;
      flex-direction: row;
      padding-right: 5vw;
      gap: 15px;
      padding-bottom: 1vh;

      .single-app-icon-container {
        img {
          width: 20px;
        }

        &:hover {
          img {
            transform: translateY(-10px);
          }
        }
      }
    }
  }
}
