<div class="parent-container-side-footer">
  <div class="menu-section-footer-container">
    <div>
      <h2>© Lars Thönnes 2024</h2>
    </div>
    <div class="footer-section-container-right">
      <div class="app-icon-container">
        <div>
          <button *ngIf="language === 'en'" class="language-button" (click)="changeLanguage('de')">
            <img src="./../../assets/img/header/language-flag/england.jpeg">
          </button>
          <button *ngIf="language === 'de'" class="language-button" (click)="changeLanguage('en')">
            <img src="./../../assets/img/header/language-flag/german.jpeg">
          </button>
        </div>
        <div class="single-app-icon-container">
          <a href="mailto:larsthoennes@gmail.com">
            <img src="-/../../../assets/img/footer/app-icons/Email button s3.png">
          </a>
        </div>
        <div class="single-app-icon-container">
          <a (click)="openGithubProfile()">
            <img src="-/../../../assets/img/footer/app-icons/Github button s3.png">
          </a>
        </div>
        <div class="single-app-icon-container">
          <a (click)="openLinkedinProfile()">
            <img src="-/../../../assets/img/footer/app-icons/Linkedin button s3.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
