.project-container-section {
  padding-top: 15vh;
  padding-bottom: 15vh;
  font-family: 'overpass-font';
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 200px;
}

@media screen and (max-width: 1850px){
  .project-container-section {
    gap: 0px;
  }
}

@media screen and (max-width: 1100px){
  .project-container-section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    gap: 300px;
  }
}

@media screen and (max-width: 500px){
  .project-container-section {
    padding-top: 5vh;
    padding-bottom: 5vh;
    gap: 120px;
  }
}

@media screen and (max-width: 400px){
  .project-container-section {
    gap: 100px;
  }
}
