<div class="parent-container-project-3">
  <div class="project-container">
    <div class="image-overlay-container">
      <img src="./../../../../../assets/img/portfolio-projects/projects-3/DaBubble.png">
      <div class="overlay">
       <div class="overlay-arrow">
        <img src="./../../../../../assets/img/portfolio-projects/animation-arrow/Group 5.png">
       </div>
      </div>
    </div>
    <div class="project-content-information">
      <div>
        <h1>DABubble</h1>
      <div *ngIf="language === 'en'" class="project-container-description">
        <span class="span1">Angular | TypeScript | Firebase </span>
        <span class="project-explanation">A chat messenger that uses Firebase for real-time data management and communication.</span>
      </div>
      <div *ngIf="language === 'de'" class="project-container-description">
        <span class="span1">Angular | TypeScript | Firebase </span>
        <span class="project-explanation">Ein Chat-Messenger, der Firebase für Echtzeit-Datenverwaltung und -Kommunikation nutzt.</span>
      </div>
      <div class="project-container-buttons">
        <button (click)="openPokedexGithubURL()">Github</button>
        <button (click)="openPokedexLiveTestURL()">Live Test</button>
      </div>
      </div>
      <div class="project-counter">
        <span>03 / 03</span>
      </div>
    </div>
  </div>

</div>

