<div class="parent-container-project-3">
  <div class="project-container">
    <div class="image-overlay-container">
      <img src="./../../../../../assets/img/portfolio-projects/projects-3/8A0EA96C-2423-4B81-9168-00CB7A6DF110.png">
      <div class="overlay">
       <div class="overlay-arrow">
        <img src="./../../../../../assets/img/portfolio-projects/animation-arrow/Group 5.png">
       </div>
      </div>
    </div>
    <div class="project-content-information">
      <div>
        <h1>Pokedex</h1>
      <div *ngIf="language === 'en'" class="project-container-description">
        <span class="span1">JavaScript | HTML | CSS | API</span>
        <span class="project-explanation">Data and values from all Pokemon can be retrieved through the API.</span>
      </div>
      <div *ngIf="language === 'de'" class="project-container-description">
        <span class="span1">JavaScript | HTML | CSS | API</span>
        <span class="project-explanation">Mithilfe einer API können Daten und Werte von allen Pokemons abgerufen werden.</span>
      </div>
      <div class="project-container-buttons">
        <button (click)="openPokedexGithubURL()">Github</button>
        <button (click)="openPokedexLiveTestURL()">Live Test</button>
      </div>
      </div>
      <div class="project-counter">
        <span>03 / 03</span>
      </div>
    </div>
  </div>

</div>

