<div class="footer-section-container">
  <div class="footer-section-container-left">
    <div>
      <img src="./../../../../assets/img/footer/logo/logo.jpeg">
    </div>
    <div>
      <h2>© Lars Thönnes 2024</h2>
    </div>
  </div>
  <div class="footer-section-container-right">
    <a href="#aboveTheFoldSection" class="back-to-top-arrow-container"></a>
    <div class="app-icon-container">
      <div class="single-app-icon-container">
        <a  href="mailto:contact@lars-thoennes.de" target="_blank">
          <img src="-/../../../assets/img/footer/app-icons/Email button s3.png">
        </a>
      </div>
      <div class="single-app-icon-container">
        <a (click)="openGithubProfile()">
          <img src="-/../../../assets/img/footer/app-icons/Github button s3.png">
        </a>
      </div>
      <div class="single-app-icon-container">
        <a (click)="openLinkedinProfile()">
          <img src="-/../../../assets/img/footer/app-icons/Linkedin button s3.png">
        </a>
      </div>
    </div>
    <div class="footer-link">
      <a *ngIf="language === 'en'" href="imprint">Legal notice</a>
      <a *ngIf="language === 'de'" href="imprint">Impressum</a>
      <div class="a-underline"></div>
    </div>
  </div>
</div>

<div class="mobile-footer">
  <div class="mobile-footer-icon-section">
    <div class="mobile-footer-icon">
      <a  href="mailto:contact@lars-thoennes.de" target="_blank">
        <img src="-/../../../assets/img/footer/app-icons/Email button s3.png">
      </a>
    </div>
    <div class="mobile-footer-icon">
      <a (click)="openGithubProfile()">
        <img src="-/../../../assets/img/footer/app-icons/Github button s3.png">
      </a>
    </div>
    <div class="mobile-footer-icon">
      <a (click)="openLinkedinProfile()">
        <img src="-/../../../assets/img/footer/app-icons/Linkedin button s3.png">
      </a>
    </div>
  </div>
  <div class="mobile-footer-logo">
    <img src="./../../../../assets/img/footer/logo/logo.jpeg">
  </div>
  <div class="mobile-footer-link">
    <a *ngIf="language === 'en'" href="imprint">Legal notice</a>
    <a *ngIf="language === 'de'" href="imprint">Impressum</a>
    <div class="mobile-footer-a-underline"></div>
  </div>
</div>
