<div id="aboutMe" class="about-me-container">
  <div class="about-me-headline">
    <h1>About me</h1>
    <div class="about-me-content">
      <div class="about-me-information-text">
       <span class="about-me-information-text-first-span">My name is Lars and I am a 21-year-old resident of Duesseldorf, Germany.
        I recently completed my training as a Frontend Developer at the Developer Akademie, where I gained valuable skills and experience in HTML, CSS, JavaScript, and other relevant technologies.
        I believe my passion for frontend development and my dedication to continuous learning can contribute positively to your project.
        </span>
       <span class="about-me-information-text-second-span">Should you require any additional information please do not hesitate to contact me using the email provided below.</span>
       <div class="about-me-button">
        <a [href]="'#' + (linkTarget === 'target4' ? 'email' : '')">
          <button>Let's talk</button>
        </a>
       </div>
      </div>
      <div  class="about-me-portrait-container">
          <img class="about-me-portrait" src="./../../assets/img/about-me/portrait/portrait_1.JPG">
          <div class="overlay"></div>
      </div>
    </div>
  </div>
</div>
