.about-me-container {
  background-color: rgb(255,252,243);
  padding-top: 10vh;
  display: flex;
  justify-content: center;

  .about-me-headline {
    font-family: 'syne-extra-font';
    font-size: 50px;

    h1{
      padding-left: 50px;
      &:hover{
        color: rgb(250,153,3);
        cursor: default;
      }
    }

    .about-me-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      max-width: 1920px;
      width: 1920px;

      .about-me-information-text {
        font-family: 'overpass-font';
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10vh;
        font-size: 25px;
        width:1000px;

        .about-me-information-text-first-span {
          padding-top: 5vh;
        }

        .about-me-information-text-second-span {
          padding-top: 5vh;
        }

        .about-me-button {
          padding-top: 7vh;

          button{
            width: 300px;
            height: 7vh;
            border: 3px solid black;
            transition: width 125ms ease-in-out;
            font-size: 28px;
            background-color: rgb(255,252,243);
            font-family: 'overpass-font';

            &:hover {
              animation: shadow-pulse 1s ease-in-out infinite;
              background-color: rgba(128, 128, 128, 0.129);
              cursor: pointer;
            }

            &:active {
              background-color: rgb(250,153,3, 0.9);
              border-color: rgb(255, 255, 255);
            }
          }
        }
      }

      .about-me-portrait-container {
        margin-bottom: 5vh;
        position: relative;

        .about-me-portrait {
          width: 420px;
          height: 550px;
          z-index: 1;
        }

        .overlay {
          position: absolute;
          top: 15px;
            left: 15px;
          width: 420px;
          height: 550px;
          background-color: rgba(0, 0, 0, 0);
          border: 4px solid transparent;
          &:hover {
            border: 4px solid black;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1920px){
  .about-me-container {
    background-color: rgb(255,252,243);
    padding-top: 10vh;
    display: flex;
    justify-content: center;

    .about-me-headline {
      font-family: 'syne-extra-font';
      font-size: 50px;

      h1{

        &:hover{
          color: rgb(250,153,3);
          cursor: default;
        }
      }

      .about-me-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        max-width: 100vw;

        .about-me-information-text {
          font-family: 'overpass-font';
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 10vh;
          font-size: 25px;
          width:60vw;

          .about-me-information-text-first-span {
            padding-top: 5vh;
          }

          .about-me-information-text-second-span {
            padding-top: 5vh;
          }

          .about-me-button {
            padding-top: 7vh;

            button{
              width: 300px;
              height: 7vh;
              border: 3px solid black;
              transition: width 125ms ease-in-out;
              font-size: 24px;
              background-color: rgb(255,252,243);

              &:hover {
                animation: shadow-pulse 1s ease-in-out infinite;
                background-color: rgba(128, 128, 128, 0.129);
                cursor: pointer;
              }

              &:active {
                background-color: rgb(250,153,3, 0.9);
                border-color: rgb(255, 255, 255);
              }
            }
          }
        }

        .about-me-portrait-container {
          margin-bottom: 5vh;
          position: relative;

          .about-me-portrait {
            width: 420px;
            height: 550px;
            z-index: 1;
          }

          .overlay {
            position: absolute;
            top: 15px;
            left: 15px;
            width: 420px;
            height: 550px;
            background-color: rgba(0, 0, 0, 0);
            border: 4px solid transparent;
            &:hover {
              border: 4px solid black;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1350px){
  .about-me-container {
    background-color: rgb(255,252,243);
    padding-top: 10vh;

    .about-me-headline {
      font-size: 40px;

      .about-me-content {
        max-width: 100vw;

        .about-me-information-text {
          margin-bottom: 10vh;
          font-size: 22px;
          width:60vw;

          .about-me-information-text-first-span {
            padding-top: 5vh;
          }

          .about-me-information-text-second-span {
            padding-top: 5vh;
          }

          .about-me-button {
            padding-top: 5vh;

            button{
              width: 250px;
              height: 6VH;
              border: 3px solid black;
              font-size: 20px;
            }
          }
        }

        .about-me-portrait-container {
          margin-bottom: 5vh;

          .about-me-portrait {
            width: 350px;
            height: 480px;
          }

          .overlay {
            top: 15px;
            left: 15px;
            width: 350px;
            height: 480px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1150px){
  .about-me-container {
    background-color: rgb(255,252,243);
    padding-top: 10vh;

    .about-me-headline {
      font-size: 35px;

      h1 {
        padding-left: 30px;
      }

      .about-me-content {
        max-width: 100vw;

        .about-me-information-text {
          margin-bottom: 10vh;
          font-size: 20px;
          width:60vw;

          .about-me-information-text-first-span {
            padding-top: 5vh;
          }

          .about-me-information-text-second-span {
            padding-top: 5vh;
          }

          .about-me-button {
            padding-top: 5vh;

            button{
              width: 250px;
              height: 6VH;
              border: 3px solid black;
              font-size: 18px;
            }
          }
        }

        .about-me-portrait-container {
          margin-bottom: 5vh;

          .about-me-portrait {
            width: 350px;
            height: 480px;
          }

          .overlay {
            top: 15px;
            left: 15px;
            width: 350px;
            height: 480px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px){
  .about-me-container {
    background-color: rgb(255,252,243);
    padding-top: 10vh;

    .about-me-headline {
      font-size: 45px;

      h1 {
        padding-left: 30px;
      }

      .about-me-content {
        max-width: 100vw;
        flex-direction: column;
        align-items: flex-start;


        .about-me-information-text {
          margin-bottom: 5vh;
          font-size: 25px;
          width:80vw;
          padding-left: 10vw;

          .about-me-information-text-first-span {
            padding-top: 2vh;
          }

          .about-me-information-text-second-span {
            padding-top: 2vh;
          }

          .about-me-button {
            display: none;
          }
        }

        .about-me-portrait-container {
          margin-bottom: 5vh;
          padding-left: 10vw;

          .about-me-portrait {
            width: 650px;
            height: 780px;
          }

          .overlay {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px){
  .about-me-container {
    background-color: rgb(255,252,243);
    padding-top: 10vh;

    .about-me-headline {
      font-size: 35px;

      h1 {
        padding-left: 30px;
      }

      .about-me-content {
        max-width: 100vw;
        flex-direction: column;
        align-items: flex-start;


        .about-me-information-text {
          margin-bottom: 5vh;
          font-size: 22px;
          width:80vw;
          padding-left: 10vw;

          .about-me-information-text-first-span {
            padding-top: 2vh;
          }

          .about-me-information-text-second-span {
            padding-top: 2vh;
          }

          .about-me-button {
            display: none;
          }
        }

        .about-me-portrait-container {
          margin-bottom: 5vh;
          padding-left: 10vw;

          .about-me-portrait {
            width: 450px;
            height: 580px;
          }

          .overlay {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 680px){
  .about-me-container {

    .about-me-headline {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 560px){
  .about-me-container {

    .about-me-headline {
      font-size: 25px;

      .about-me-content {

        .about-me-information-text {
          font-size: 20px;
        }

        .about-me-portrait-container {
          .about-me-portrait {
            width: 300px;
            height: 400px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px){
  .about-me-container {

    .about-me-headline {
      font-size: 20px;

      .about-me-content {

        .about-me-information-text {
          font-size: 20px;
        }

        .about-me-portrait-container {
          .about-me-portrait {
            width: 300px;
            height: 400px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 380px){
  .about-me-container {

    .about-me-headline {
      font-size: 16px;

      .about-me-content {

        .about-me-information-text {
          font-size:16px;
        }

        .about-me-portrait-container {
          .about-me-portrait {
            width: 220px;
            height: 300px;
          }
        }
      }
    }
  }
}


@keyframes shadow-pulse {
  0% {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  50% {
      box-shadow: 0 0 20px rgb(250,153,3, 0.6);
  }
  100% {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}
