.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(255, 252, 243);
  margin-left: 15vw;
  margin-right: 15vw;

  .project-content-image-container {
    height: 50vh;
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: default;
    filter: grayscale(100%);

    .overlay {
      height: 800px;
      width: 1600px;
      position: absolute;
      z-index: 6;
      border: 8px solid transparent;
    }

    .project-content-image {

      height: 800px;
      width: 1600px;
    }

    .project-content-description {

      z-index: 1;
      display: none;
      flex-direction: column;
      gap: 1vh;

      h1 {
        font-family: 'syne-extra-font';
        font-size: 100px;
      }

      .project-applications {
        font-size: 50px;
        width: 15vw;
      }

      .project-explanation {
        font-size: 40px;
        width: 15vw;
      }

      button {
        width: 700px;
        height: 150px;
        border: 3px solid black;
        font-size: 60px;
        background-color: rgb(255, 252, 243);
        transform-origin: left center;
        transition: transform 125ms ease-in-out;

        &:hover {
          cursor: pointer;
          transform: scaleX(1.2);
          font-weight: bold;
          background-color: rgb(208, 205, 196);
        }
      }

    }

    &:hover {
      filter: grayscale(0%);
      .project-content-description {
        animation: right-slide 1s ;
        display: flex;
        position: static;
        transform: translateX(1000px);
      }

      h1 {
        animation: right-slide-h1 1s;
      }

      .project-applications {
        animation: right-slide-span 1s;
        color: orange;
      }

      .overlay-arrow {
        animation: arrow-slide 0.5s;
        position: absolute;
        z-index: 10;
        margin-left: 1600px;
        width: 200px;
        height: 200px;
        background-color: black;
        border-radius: 100%;
        background-image: url('./../../../../../assets/img/portfolio-projects/animation-arrow/Group\ 8\ \(1\).png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transform: rotate(-100deg);
      }

      .overlay {
        border: 8px solid black;
        left: 80px;
        top: 10vh;
      }
    }
  }

  .project-counter {
    font-size: 100px;
  }
}


@keyframes right-slide{
  0% {
   transform: translateX(-1000px);
   opacity: 0;
  }
  50% {
  opacity: 0.5;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    transform: translateX(1000px);
    opacity: 1;
  }
}

@keyframes right-slide-span{
  0% {
   color: black;
  }
  100% {
    color: orange;
  }
}

@keyframes right-slide-h1 {
  0% {
   transform: translateX(-1000px);
   opacity: 0;
  }
  80% {
    opacity: 0;
    scale: 0.1;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
    scale: 1;
  }
}


@keyframes  arrow-slide {
  from {
    transform: rotate(100deg);
  }
  to {
    transform: rotate(-100deg);
  }
}
