.legal-notice-container {
  padding-top: 10vh;
  width: 100vw;
  background-color: rgb(255,252,243);

  .legal-notice-content {
    margin-right: 5vw;
    margin-left: 5vw;
    font-size: 30px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width:600px){
  .legal-notice-container {
    padding-top: 10vh;
    width: 100vw;
    background-color: rgb(255,252,243);

    .legal-notice-content {
      margin-right: 5vw;
      margin-left: 5vw;
      font-size: 16px;
    }
  }
}
