<div class="project-container">
  <div class="image-overlay-container">
    <img src="./../../../../../assets/img/portfolio-projects/projects-2/destop-view/Property 2=DEfault.png">
    <div class="overlay">
     <div class="overlay-arrow">
      <img src="./../../../../../assets/img/portfolio-projects/animation-arrow/Group 5.png">
     </div>
    </div>
  </div>
  <div class="project-content-information">
    <div>
      <h1>El pollo Loco</h1>
    <div *ngIf="language === 'en'" class="project-container-description">
      <span class="span1">JavaScript | HTML | CSS</span>
      <span class="project-explanation">2D jump and run game set in the desert of Mexico. You have to fight your way to the final boss and defeat it.</span>
    </div>
    <div *ngIf="language === 'de'" class="project-container-description">
      <span class="span1">JavaScript | HTML | CSS</span>
      <span class="project-explanation">2D jump an run game welches in der Wüste Mexikos spielt. Sie müssen sich bis zum Endgegner durchkämpfen und ihn besiegen.</span>
    </div>
    <div class="project-container-buttons">
      <button (click)="openPolloLocoGithubURL()">Github</button>
      <button (click)="openPolloLocoLiveTestURL()">Live Test</button>
    </div>
    </div>
    <div class="project-counter">
      <span>02 / 03</span>
    </div>
  </div>
</div>
