.imprint-container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255,252,243);

  .imprint-content {
    background-color: rgb(255,252,243);
    padding-top: 10vh;
    padding-left: 5vw;
  }
}
