* {
  height: 30vh;
  z-index: 999;
  background-color: rgb(255,252,243);
}

.next-section-arrow-left-container {
  display: flex;
}

.next-section-arrow-left {
  width: 100vw;
  background-repeat: no-repeat;
  cursor: pointer;
  animation: next-section-destop-left 0.8s infinite;
  background-size: contain;
  margin-left: 25vw;
}



@media screen and (max-width:2500px) and (max-height: 3000px) {
  * {
    height: 25vh;
  }

  .next-section-arrow-left {
    margin-top: 3vh;
    animation: next-section-mobile-left 0.8s infinite;
    background-position: center;
    margin-left: 0;
  }
}

@media screen and (max-width:1300px) and (max-height: 3000px) {
  * {
    height: 18vh;
  }
}

@keyframes next-section-destop-left {
  0% {
    background-image: url('./../../../assets/img/next-section-arrow/left-side/mobile-view/Property\ 1=Default\ \(7\).png');
  }
  38% {
    background-image: url('./../../../assets/img/next-section-arrow/left-side/mobile-view/Property\ 1=Default\ \(7\).png');
  }
  38% {
    background-image: url('./../../../assets/img/next-section-arrow/left-side/mobile-view/Property\ 1=Variant2\ \(3\).png');
  }
  40% {
    background-image: url('./../../../assets/img/next-section-arrow/left-side/mobile-view/Property\ 1=Variant2\ \(3\).png');
  }
  41% {
    background-image: url('./../../../assets/img/next-section-arrow/left-side/mobile-view/Property\ 1=Variant3\ \(4\).png');
  }
  100% {
    background-image: url('./../../../assets/img/next-section-arrow/left-side/mobile-view/Property\ 1=Variant3\ \(4\).png');
  }
}


@keyframes next-section-mobile-left {
  0% {
    background-image: url('./../../../assets/img/next-section-arrow/left-side/mobile-view/Property\ 1=Default\ \(7\).png');
  }
  38% {
    background-image: url('./../../../assets/img/next-section-arrow/left-side/mobile-view/Property\ 1=Default\ \(7\).png');
  }
  38% {
    background-image: url('./../../../assets/img/next-section-arrow/left-side/mobile-view/Property\ 1=Variant2\ \(3\).png');
  }
  40% {
    background-image: url('./../../../assets/img/next-section-arrow/left-side/mobile-view/Property\ 1=Variant2\ \(3\).png');
  }
  41% {
    background-image: url('./../../../assets/img/next-section-arrow/left-side/mobile-view/Property\ 1=Variant3\ \(4\).png');
  }
  100% {
    background-image: url('./../../../assets/img/next-section-arrow/left-side/mobile-view/Property\ 1=Variant3\ \(4\).png');
  }
}
