.parent-container {
  max-width: 1920px;
  display: flex;
  justify-content: center;
  scroll-margin-top: 5vh;
  padding-top: 100px;

  .my-skills-container {
    position: relative;
    height: auto;
    background-color: rgb(255,252,243);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 70px;
    z-index: 1;

    h1 {
      font-family: 'syne-extra-font';
      font-size: 100px;
      background-color: rgb(255,252,243);
      position: absolute;
      top: 0;

      padding-left: 40px;
      padding-right: 40px;

      &:hover {
        color: rgb(250,153,3);
        cursor: default;
      }
    }


    .my-skills-box-border {
      width: 1800px;
      height: auto;
      overflow-y: auto;
      border: 5px solid black;
      overflow: hidden;;

      .my-skills-box-content-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-content: center;
        align-items: center;
        padding-top: 150px;
        padding-bottom: 100px;
        gap: 20px;


        .my-skills-box-content {
          display: flex;
          flex-direction: column;
          align-items: center;

          &:hover {
            color: rgb(250,153,3);
            animation: icon-swap 0.35s;
          }

          .my-skills-apllication-icon {
            padding-left: 3vw;
            padding-right: 3vw;
            padding-top: 3vh;
            height: 100px;
          }

          .my-skills-box-content-application-name {
            font-family: 'overpass-font';
            font-weight: bold;
            font-size: 30px;
            padding-top: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1920px){
  .parent-container {


    .my-skills-container {
      height: auto;
      padding-top: 50px;
      padding-bottom: 70px;

      h1 {
        font-size: 100px;
        top: 0;
        padding-left: 40px;
        padding-right: 40px;
      }


      .my-skills-box-border {
        width: 80vw;
        height: auto;

        .my-skills-box-content-container {
          padding-top: 150px;
          padding-bottom: 100px;
          gap: 20px;


          .my-skills-box-content {

            .my-skills-apllication-icon {
              padding-left: 3vw;
              padding-right: 3vw;
              padding-top: 3vh;
              height: 100px;
            }

            .my-skills-box-content-application-name {
              font-size: 30px;
              padding-top: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1600px){
  .parent-container {


    .my-skills-container {
      height: auto;
      padding-top: 50px;
      padding-bottom: 70px;

      h1 {
        font-size: 100px;
        top: 0;
        padding-left: 40px;
        padding-right: 40px;
      }


      .my-skills-box-border {
        width: 80vw;
        height: auto;

        .my-skills-box-content-container {
          padding-top: 150px;
          padding-bottom: 100px;
          gap: 20px;
          grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));


          .my-skills-box-content {

            .my-skills-apllication-icon {
              padding-left: 3vw;
              padding-right: 3vw;
              padding-top: 3vh;
              height: 100px;
            }

            .my-skills-box-content-application-name {
              font-size: 30px;
              padding-top: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px){
  .parent-container {


    .my-skills-container {
      height: auto;
      padding-top: 50px;
      padding-bottom: 70px;

      h1 {
        font-size: 80px;
        top: 0;
        padding-left: 40px;
        padding-right: 40px;
      }


      .my-skills-box-border {
        width: 80vw;
        height: auto;

        .my-skills-box-content-container {
          padding-top: 100px;
          padding-bottom: 100px;
          gap: 20px;
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));


          .my-skills-box-content {

            .my-skills-apllication-icon {
              padding-left: 3vw;
              padding-right: 3vw;
              padding-top: 3vh;
              height: 80px;
            }

            .my-skills-box-content-application-name {
              font-size: 25px;
              padding-top: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px){
  .parent-container {


    .my-skills-container {
      height: auto;
      padding-top: 30px;
      padding-bottom: 70px;

      h1 {
        font-size: 60px;
        top: 0;
        padding-left: 40px;
        padding-right: 40px;
      }


      .my-skills-box-border {
        width: 80vw;
        height: auto;

        .my-skills-box-content-container {
          padding-top: 100px;
          padding-bottom: 100px;
          gap: 20px;
          grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));


          .my-skills-box-content {

            .my-skills-apllication-icon {
              padding-left: 3vw;
              padding-right: 3vw;
              padding-top: 3vh;
              height: 60px;
            }

            .my-skills-box-content-application-name {
              font-size: 20px;
              padding-top: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px){
  .parent-container {


    .my-skills-container {
      height: auto;
      padding-top: 30px;
      padding-bottom: 70px;

      h1 {
        font-size: 50px;
        top: 0;
        padding-left: 40px;
        padding-right: 40px;
      }


      .my-skills-box-border {
        width: 80vw;
        height: auto;

        .my-skills-box-content-container {
          padding-top: 50px;
          padding-bottom: 50px;
          gap: 20px;
          grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));


          .my-skills-box-content {

            .my-skills-apllication-icon {
              padding-left: 3vw;
              padding-right: 3vw;
              padding-top: 3vh;
              height: 60px;
            }

            .my-skills-box-content-application-name {
              font-size: 20px;
              padding-top: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 615px){
  .parent-container {


    .my-skills-container {
      height: auto;
      padding-top: 20px;
      padding-bottom: 70px;

      h1 {
        font-size: 40px;
        top: 0;
        padding-left: 40px;
        padding-right: 40px;
      }


      .my-skills-box-border {
        width: 80vw;
        height: auto;

        .my-skills-box-content-container {
          padding-top: 50px;
          padding-bottom: 50px;
          gap: 20px;
          grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));


          .my-skills-box-content {

            .my-skills-apllication-icon {
              padding-left: 3vw;
              padding-right: 3vw;
              padding-top: 3vh;
              height: 60px;
            }

            .my-skills-box-content-application-name {
              font-size: 20px;
              padding-top: 10px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 561px){
  .parent-container {


    .my-skills-container {
      height: auto;
      padding-top: 20px;
      padding-bottom: 70px;

      h1 {
        font-size: 40px;
        top: 0;
        padding-left: 40px;
        padding-right: 40px;
      }


      .my-skills-box-border {
        width: 80vw;
        height: auto;

        .my-skills-box-content-container {
          padding-top: 50px;
          padding-bottom: 50px;
          gap: 20px;
          grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));


          .my-skills-box-content {

            .my-skills-apllication-icon {
              padding-left: 3vw;
              padding-right: 3vw;
              padding-top: 3vh;
              height: 50px;
            }

            .my-skills-box-content-application-name {
              font-size: 12px;
              padding-top: 6px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 460px){
  .parent-container {


    .my-skills-container {
      height: auto;
      padding-top: 20px;
      padding-bottom: 70px;

      h1 {
        font-size: 40px;
        top: 0;
        padding-left: 20px;
        padding-right: 20px;
      }


      .my-skills-box-border {
        width: 80vw;
        height: auto;

        .my-skills-box-content-container {
          padding-top: 50px;
          padding-bottom: 50px;
          gap: 20px;
          grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));


          .my-skills-box-content {

            .my-skills-apllication-icon {
              padding-left: 3vw;
              padding-right: 3vw;
              padding-top: 3vh;
              height: 50px;
            }

            .my-skills-box-content-application-name {
              font-size: 12px;
              padding-top: 6px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 390px){
  .parent-container {


    .my-skills-container {
      height: auto;
      padding-top: 20px;
      padding-bottom: 70px;

      h1 {
        font-size: 35px;
        top: 0;
        padding-left: 10px;
        padding-right: 10px;
      }


      .my-skills-box-border {
        width: 80vw;
        height: auto;

        .my-skills-box-content-container {
          padding-top: 20px;
          padding-bottom: 20px;
          gap: 20px;
          grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));


          .my-skills-box-content {

            .my-skills-apllication-icon {
              padding-left: 3vw;
              padding-right: 3vw;
              padding-top: 3vh;
              height: 50px;
            }

            .my-skills-box-content-application-name {
              font-size: 10px;
              padding-top: 6px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px){
  .parent-container {


    .my-skills-container {
      height: auto;
      padding-top: 20px;
      padding-bottom: 70px;

      h1 {
        font-size: 35px;
        top: 0;
        padding-left: 10px;
        padding-right: 10px;
      }


      .my-skills-box-border {
        width: 80vw;
        height: auto;

        .my-skills-box-content-container {
          padding-top: 20px;
          padding-bottom: 20px;
          gap: 20px;
          grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));


          .my-skills-box-content {

            .my-skills-apllication-icon {
              padding-left: 3vw;
              padding-right: 3vw;
              padding-top: 3vh;
              height: 40px;
            }

            .my-skills-box-content-application-name {
              font-size: 10px;
              padding-top: 6px;
            }
          }
        }
      }
    }
  }
}
