* {
  height: 30vh;
  z-index: 2;
  background-color: rgb(255,252,243);
}

.next-section-arrow-right-container {
  display: flex;
}

.next-section-arrow-right {
  width: 100vw;
  background-repeat: no-repeat;
  cursor: pointer;
  animation: next-section-destop 0.8s infinite;
  background-size: contain;
  margin-left: 50vw;
}



@media screen and (max-width:2700px) and (max-height: 3000px) {
  * {
    height: 25vh;
  }

  .next-section-arrow-right {
    margin-top: 2vh;
    animation: next-section-mobile 0.8s infinite;
    background-position: center;
    margin-left: 0;
  }
}

@media screen and (max-width:1300px) and (max-height: 3000px) {
  * {
    height: 20vh;
  }
}


@keyframes next-section-destop {
  0% {
    background-image: url('./../../../assets/img/next-section-arrow/right-side/mobile-view/Property\ 1=Default\ \(6\).png');
  }
  38% {
    background-image: url('./../../../assets/img/next-section-arrow/right-side/mobile-view/Property\ 1=Default\ \(6\).png');
  }
  38% {
    background-image: url('./../../../assets/img/next-section-arrow/right-side/mobile-view/Property\ 1=Variant2\ \(2\).png');
  }
  40% {
    background-image: url('./../../../assets/img/next-section-arrow/right-side/mobile-view/Property\ 1=Variant2\ \(2\).png');
  }
  41% {
    background-image: url('./../../../assets/img/next-section-arrow/right-side/mobile-view/Property\ 1=Variant3\ \(3\).png');
  }
  100% {
    background-image: url('./../../../assets/img/next-section-arrow/right-side/mobile-view/Property\ 1=Variant3\ \(3\).png');
  }
}


@keyframes next-section-mobile {
  0% {
    background-image: url('./../../../assets/img/next-section-arrow/right-side/mobile-view/Property\ 1=Default\ \(6\).png');
  }
  38% {
    background-image: url('./../../../assets/img/next-section-arrow/right-side/mobile-view/Property\ 1=Default\ \(6\).png');
  }
  38% {
    background-image: url('./../../../assets/img/next-section-arrow/right-side/mobile-view/Property\ 1=Variant2\ \(2\).png');
  }
  40% {
    background-image: url('./../../../assets/img/next-section-arrow/right-side/mobile-view/Property\ 1=Variant2\ \(2\).png');
  }
  41% {
    background-image: url('./../../../assets/img/next-section-arrow/right-side/mobile-view/Property\ 1=Variant3\ \(3\).png');
  }
  100% {
    background-image: url('./../../../assets/img/next-section-arrow/right-side/mobile-view/Property\ 1=Variant3\ \(3\).png');
  }
}
