.menu-section-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: rgb(255, 252, 243);
  padding-bottom: 20vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  z-index: 100;
  overflow: hidden;

  .menu-section-button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding-top: 20vh;


    .h1-border {
      position: relative;
      border: 8px solid transparent;
      width: 40vw;
      margin-left: 40%;
      margin-right: 30%;
      cursor: pointer;
      pointer-events: all;

      &:hover::before {
        content: '';
        position: absolute;
        top: 8vh;
        left: 0;
        height: 50%;
        border-left: 8px solid black;
        border-bottom: 8px solid black;
        width: 60%;
        animation: h1-hover 0.3s ease-in-out;

        &:hover {
          width: 60vw;
        }
      }

      h1 {
        font-size: 200px;
        font-family: 'syne-extra-font';
        padding-left: 2vw;
        padding-top: 2.3vh;

        &:hover {
          color: rgb(250,153,3);
          transform: scale(1.05);
        }
      }
    }
  }
}

@keyframes h1-hover {
  from {
    top: 8vh;
    height: 50%;
    width: 10%;
  }
  to {
    width: 60%;

  }
}

@media screen and (max-width:4150px) and (max-height: 3000px){
  .menu-section-container {

    .menu-section-button-container {
      padding-top: 25vh;

      .h1-border {

        &:hover::before {
          top: 6vh;

          &:hover {

          }
        }

        h1 {
          font-size: 160px;

          &:hover {

          }
        }
      }
    }
  }
}
