* {
  overflow: hidden;
}
.parent-container-menu-section {
  width: 1920px;
  overflow: hidden;
  ::-webkit-scrollbar {
    display: none;
  }

  .menu-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background-color: rgb(255, 252, 243);
    position: fixed;
    max-height: 100vh;
    min-height: 100vh;
    width: 100vw;

    z-index: 1000000000;

    .menu-section-link-container {
      z-index: 100000000000;
      .h1-border {
        border: 8px solid transparent;

        h1 {
          color: black;
          font-family: 'syne-extra-font';
          font-size: 80px;
          padding-top: 5vh;

          &:hover {
            color: rgb(250,153,3);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1920px){
  .parent-container-menu-section {
    width: 100vw;

    .menu-section-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10vh;
      background-color: rgb(255, 252, 243);
      position: fixed;
      max-height: 100vh;
      min-height: 100vh;
      overflow: hidden;
      overflow-y: hidden;
      z-index: 1000000000;

      .menu-section-link-container {
        z-index: 100000000000;
        .h1-border {
          border: 8px solid transparent;

          h1 {
            color: black;
            font-family: 'syne-extra-font';
            font-size: 60px;
            padding-top: 5vh;

            &:hover {
              color: rgb(250,153,3);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px){
  .parent-container-menu-section {
    width: 100vw;

    .menu-section-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10vh;
      background-color: rgb(255, 252, 243);
      position: fixed;
      max-height: 100vh;
      min-height: 100vh;
      overflow: hidden;
      overflow-y: hidden;
      z-index: 1000000000;

      .menu-section-link-container {
        z-index: 100000000000;
        .h1-border {
          border: 8px solid transparent;

          h1 {
            color: black;
            font-family: 'syne-extra-font';
            font-size: 40px;
            padding-top: 5vh;

            &:hover {
              color: rgb(250,153,3);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px){
  .parent-container-menu-section {
    width: 100vw;

    .menu-section-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10vh;
      background-color: rgb(255, 252, 243);
      position: fixed;
      max-height: 100vh;
      min-height: 100vh;
      overflow: hidden;
      overflow-y: hidden;
      z-index: 1000000000;

      .menu-section-link-container {
        z-index: 100000000000;
        .h1-border {
          border: 8px solid transparent;

          h1 {
            color: black;
            font-family: 'syne-extra-font';
            font-size: 30px;
            padding-top: 5vh;

            &:hover {
              color: rgb(250,153,3);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px){
  .parent-container-menu-section {
    width: 100vw;

    .menu-section-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10vh;
      background-color: rgb(255, 252, 243);
      position: fixed;
      max-height: 100vh;
      min-height: 100vh;
      overflow: hidden;
      overflow-y: hidden;
      z-index: 1000000000;

      .menu-section-link-container {
        z-index: 100000000000;
        .h1-border {
          border: 8px solid transparent;

          h1 {
            color: black;
            font-family: 'syne-extra-font';
            font-size: 20px;
            padding-top: 5vh;

            &:hover {
              color: rgb(250,153,3);
            }
          }
        }
      }
    }
  }
}
