.header-container {
  background-color: rgb(255,252,243);
  height: 10vh;
  width: 100vw;
  position: fixed;
  z-index: 999999;

  .header-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0vw;
    margin-right: 5vw;
    padding-top: 0vh;

    .header-logo {
      height: 50px;
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;

      .burger-menu-icon-toggle {
        background-position: center;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
        animation: burger-menu-to-cross 0.3s;
        background-image: url('./../../../../assets/img/header/burger-menu/Property\ 1=Variant5.png');
      }

      .burger-menu-icon {
        background-image: url('./../../../../assets/img/header/burger-menu/Property\ 1=burger.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
        animation: cross-to-burger-menu 0.3s;
      }
    }
  }
}

@keyframes burger-menu-to-cross {
  0% {
    background-image: url('./../../../../assets/img/header/burger-menu/Property\ 1=burger.png');
  }
  20% {
    background-image: url('./../../../../assets/img/header/burger-menu/Property\ 1=Transition.png');
  }
  40% {
    background-image: url('./../../../../assets/img/header/burger-menu/Property\ 1=Variant3\ \(2\).png');
  }
  60% {
    background-image: url('./../../../../assets/img/header/burger-menu/Property\ 1=Variant4.png');
  }
  100% {
    background-image: url('./../../../../assets/img/header/burger-menu/Property\ 1=Variant5.png');
  }
}

@keyframes cross-to-burger-menu {
  0% {
    background-image: url('./../../../../assets/img/header/burger-menu/Property\ 1=Variant5.png');
  }
  20% {
    background-image: url('./../../../../assets/img/header/burger-menu/Property\ 1=Variant4.png');
  }
  40% {
    background-image: url('./../../../../assets/img/header/burger-menu/Property\ 1=Variant3\ \(2\).png');
  }
  60% {
    background-image: url('./../../../../assets/img/header/burger-menu/Property\ 1=Transition.png');
  }
  100% {
    background-image: url('./../../../../assets/img/header/burger-menu/Property\ 1=burger.png');
  }
}


@media screen and (max-width:5120px) {
  .header-container {

    .header-contents {

      .header-logo {
        height: 200px;
      }

      button {
        transform: scale(2);
      }
    }
  }
}

@media screen and (max-width:4000px) {
  .header-container {

    .header-contents {

      .header-logo {
        height: 180px;
      }

      button {
        transform: scale(1.8);
      }
    }
  }
}

@media screen and (max-width:3000px) {
  .header-container {

    .header-contents {

      .header-logo {
        height: 160px;
      }

      button {
        transform: scale(1.7);
      }
    }
  }
}

@media screen and (max-width:1200px) {
  .header-container {

    .header-contents {

      .header-logo {
        height: 140px;
      }

      button {
        transform: scale(1.5);
      }
    }
  }
}

@media screen and (max-width:800px) {
  .header-container {

    .header-contents {

      .header-logo {
        height: 80px;
      }

      button {
        transform: scale(0.8);
      }
    }
  }
}

@media screen and (max-width:600px) {
  .header-container {

    .header-contents {

      .header-logo {
        height: 60px;
      }

      button {
        transform: scale(0.6);
      }
    }
  }
}
